APPLETEAMID=YOUR_APPLE_TEAM_ID
APPLEID=YOUR_APPLE_ID_EMAIL
APPLEIDPASS=YOUR_APPLE_APP_SPECIFIC_PASSWORD
GH_TOKEN=YOUR_GITHUB_TOKEN
WINDOWS_SIGN_CERTIFICATE_NAME=YOUR_WINDOWS_SIGN_CERTIFICATE_NAME
WINDOWS_SIGN_TOKEN_PASSWORD=YOUR_WINDOWS_SIGN_TOKEN_PASSWORD
